www/bin/Microsoft.Web.Infrastructure.dll
www/bin/Microsoft.Web.Infrastructure.dll
www/WebApplication1.csproj
www/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
www/WebApplication1.csproj.user
www/WebApplication1.sln
www/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
www/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
www/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
www/WebApplication1.v12.suo
