.required {
    color: red;
}

h3.center-title {
    margin: 10px 0;
}

ul.list-items {
    margin-left: 30px;
    list-style: disc;
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top20 {
    margin-top: 20px;
}

.margin-left20 {
    margin-left: 20px;
}


/********************/
.table-content {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    border-collapse: collapse;
}

    .table-content th {
        padding: 7px 5px;
        text-align: left; 
        /*font-weight: normal;*/
        background-color: #eee;       
    }
 
    .table-content td {
        padding: 7px 5px;
        color: #666;
    }

    .table-content tr:nth-child(2n) td {
        background-color: #fafafa;
    }

/*******************Forms**********************/
.form-container {
    /*padding: 10px;*/
}

.form-container.login-form {
	padding: 10px;
}

    .form-container .form-field {
        margin-bottom: 10px;
    }

        .form-container .form-field label {
            padding: 3px 0;
            display: block;
        }

        .form-container .form-field input.text-input,
        .form-container .form-field select,
        .form-container .form-field textarea {
            width: 100%;
        }

    .form-container .form-buttons {

    }

        .form-container .form-buttons input,
        .form-container .form-buttons .button {
            margin-bottom: 10px;
            display: block;
            width: 100%;
        }

        .form-container .form-buttons .btn-link {
            text-align: center;
            display: block;
        }

.form-container.registration-form,
.form-container.remember-form {
    margin: 0 auto;
    width: 400px;
}

   .form-container .form-field.captcha input {
       width: 310px;
       height: 40px;
   }

   .sponsor {
       margin-bottom: 20px;
       font-size: 16px;
       text-align: center;
   }

.form-container.profile-form {
    margin: 0 auto;
    width: 400px;
}

/***************enter-balance********************/

.enter-balance .form-container {
    /*margin: 0 auto;*/
    width: 350px;
}


/****************Open deposite*****************/

.open-contribution {

}

    .open-contribution .block-tile {
        float: left;
    }

    .open-contribution .form-container {
        width: 350px;
        float: right;
    }

.block-tile {
    width: 300px;
    border: 1px solid #eee;
}

    .block-tile label {
        display: block;
    }

    .block-tile .header-info {
        padding: 10px;
        background-color: #eee;
    }

        .block-tile .header-info input {
            display: none; /*radio*/
        }

    .block-tile .short-info {
        padding: 10px;
        /*text-align: center;*/
    }

        .block-tile .short-info .days {
            text-transform: capitalize;
        }