.required {
    color: red;
}

h3.center-title {
    margin: 10px 9;
}

/********************/
.table-content {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    border-collapse: collapse;
}

    .table-content th {
        padding: 7px 5px;
        text-align: left; 
        font-weight: normal;
        background-color: #eee;       
    }
 
    .table-content td {
        padding: 7px 5px;
        color: #666;
    }

    .table-content tr:nth-child(2n) td {
        background-color: #fafafa;
    }

/*******************Forms**********************/
.form-container {
    padding: 10px;
}

    .form-container .form-field {
        margin-bottom: 10px;
    }

        .form-container .form-field label {
            padding: 3px 0;
            display: block;
        }

        .form-container .form-field input.text-input {
            width: 100%;
        }

    .form-container .form-buttons {

    }

        .form-container .form-buttons input,
        .form-container .form-buttons .button {
            margin-bottom: 10px;
            display: block;
            width: 100%;
        }

        .form-container .form-buttons .btn-link {
            text-align: center;
            display: block;
        }

.form-container.registration-form,
.form-container.remember-form {
    margin: 0 auto;
    width: 400px;
}

   .form-container .form-field.captcha input {
       width: 310px;
       height: 40px;
   }

   .sponsor {
       margin-bottom: 20px;
       font-size: 16px;
       text-align: center;
   }