.left-panel {    
    width: 250px;
    min-height: 800px;
    background-color: #fff;
    border-right: 1px solid #eee;
}

.center-panel {
    margin-left: 250px;
    width: 720px;
    min-height: 800px;
    padding: 10px;
    background-color: #fff;
    /*overflow: hidden;*/
}