.logo {
    margin-top: 14px;
    float: left;
}

.user-block {
    margin: 10px 0 20px;
    color: #fff;
    text-align: right;
    font-size: 14px;
}

    .user-block i {
        margin-right: 3px;
        font-size: 20px;
    }

    .user-block .balans {
        margin-left: 10px;
    }

        .user-block .bonus-bal {
            margin-left: 10px;
        }


.nav-bar {
	
}

    .nav-bar ul {
	    list-style: none;
	    margin: 0 0 0 0px;
    }

        .nav-bar li {
	        float: left;
	        position: relative;
	        display: block;
	        z-index: 4;
        }

            .nav-bar li a {
                padding: 10px 25px;	            
	            height: 40px;
	            line-height: 40px;	            
	            color: #fff;
	            font-size: 16px;
                text-align: center;
                display: block;
                border-bottom: 3px solid transparent;
            }

            .nav-bar li a:hover {
                color: #fff;
                border: none;
                background-color: transparent;
                border-bottom: 3px solid #fff;
            }

/******************Account menu********************/
.menu-item {
	
}

.menu-item:hover {
	
}

    .menu-item a {
	    padding: 10px 15px;
        line-height: 32px;
        color: #666;
        font-size: 13px;
        display: block;
    }

    .menu-item:hover a {
        color: #fff;
        background-color: #02b2ff;
    }

        .menu-item:hover a i {
            color: #fff;
        }

        .menu-item a i {
            width: 30px;
	        margin-right: 10px;
            float: left;
            font-size: 28px;
            color: #02b2ff;
            text-align: center;
        }