@font-face {
    font-family: RobotoLight;
    src: url(/fonts/roboto/Roboto-Light.ttf); 
}

@font-face {
    font-family: RobotoMedium;
    src: url(/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/fonts/roboto/Roboto-Regular.ttf); 
}

* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    color: #333;
	background-color: #fff;
	height: 100%;
	font: 12px RobotoRegular;
}

.container {
    margin: 0 auto;
    width: 970px;
}

table, td {
    color: #333;
	font: 12px RobotoRegular;
}
.clear {
	clear: both;
}
.left {
	float: left;
	/*margin-bottom: 1px;*/
}
.right {
	float: right;
	/*margin-bottom: 1px;*/
}

.text-success {
    color: #3cea40;
}

.text-error {
    color: #f23c32;
}

.text-blue {
    color: #02b2ff;
}

.text-warning {
    color: #e9940e;
}

.text-black {
    color: #000;
}

.text-gray {
    color: #999;
}


.text-center {
    text-align: center;
}

header {
	background-color: #02b2ff;
    overflow: hidden;
}

.circle {
	background: url("/img/tpl/head_krug.jpg") no-repeat top center;
	width: 117px;
	height: 93px;
	float: right;
	margin-left: 80px;
	margin-right: 10px;
	margin-bottom: 1px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

.circle span {
	font-size: 21px;
	padding-left: 22px;
}

.main-container {
	padding: 20px;
	background-color: #f0f8fa;
	min-height: 500px;
}

.card {
    padding: 10px;
	background-color: #fff;
}

.languages-block {
	float: right;
}

#footer {
	padding: 10px;
	color: #666;
}

input[type="text"], input[type="password"], select {
    padding: 3px 10px;
	height: 30px;
	font-size: 14px;
	border: 1px solid #eee;	
    border-radius: 0;
}

input[type="text"]:focus, input[type="password"]:focus {
	border-color: #02b2ff;
	outline: 0;
	outline: thin dotted \9;
}

textarea {
	padding: 5px;	
	font-size: 14px;
	border: 1px solid #eee; 
    border-radius: 2px;
}

textarea:focus {
	border-color: #02b2ff;
	outline: 0;
	outline: thin dotted \9;
}

input[type="submit"], input[type="button"], .button {	
	padding: 10px 20px;	
	color: #fff;
    font-size: 12px;
    background-color: #02b2ff;
	border: 0px;
    border-radius: 2px;
    cursor: pointer;
}

a.button {
    text-align: center;
}

input[type="submit"]:hover, input[type="button"]:hover, .button:hover {
	opacity: 0.8;
    color: #fff;
}

a {
	color: #02b2ff;
    cursor: pointer;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
	text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3 {
	text-transform: uppercase;
	font-size: 14px;
    font-weight: normal;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	color: #333;
    font-family: RobotoMedium;
}
h4 {
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 0;
}
.br {
	height: 25px;
}

.depoico {
	margin-right: 10px; 
	max-width: 70px;
}

.er {
	color: #F11F1F; 
	background: #FBCDCA;
	padding-top: 20px;
	padding-left: 35px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.erok {
	color: red; 
	color: #009900; 
	padding-top: 20px;
	padding-left: 35px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.warn {
	color: #663300; 
	background-color: #ffffcc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.pages {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
	font-size: 12px;
}
.pages a {
	padding: 2px 5px 3px 5px;
	background-color: #eeeeee;
	font-size: 13px;
	border-radius: 3px;
	text-decoration: none;
	font-weight: bold;
}
hr {
	color: #dddddd;
	background-color: #dddddd;
	height: 3px;
	border: 0px;
}
span.tool {
	position: relative;
	cursor: help;
}
span.tool span.tip {
	display: none;
}
span.tool:hover span.tip {
	display: block;
	z-index: 100;
	position: absolute;
	top: 1.6em;
	left: 0;
	width: auto;
	padding: 3px 5px;
	border: 2px solid #eee;
	background-color: #f7f7ee;
	color: #333;
	border-radius: 2px;
}
input[type="radio"] {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(/img/radio.png) no-repeat;
    cursor: pointer;
}
.lineclock {
	border: 1px solid #999999;
	background: url("/img/bgline.gif") repeat-x top left #eeeeee;
	border-radius: 4px;
	padding: 0px;
}
.percentline {
	background: url("/img/line.gif") repeat-x top left;
	height: 19px;
	margin-top: 0px;
	border-radius: 4px;
	max-width: 100%;
}
#dohodno {
	text-align: center;
	font-size: 14px;
	width: 100px;
	border-radius: 0 3px 3px 0; padding: 7px; height: 16px; color: #ffffff; float: right; background-color: #e6433a;
}
.tbl th {
	height: 35px;
	background-color: #02b2ff;
	color: #ffffff;
	border-radius: 3px 3px 0 0;
}
.tbl td {
	height: 21px;
	border-bottom: 1px solid #dddddd;
}
.tblbord {
	border-top: 3px solid #dddddd;
}

.priceperctxt {
	width: 170px; 
	border: 1px solid #02b2ff; 
	border-radius: 3px 0 0 3px; 
	padding: 7px; 
	color: #02b2ff; 
	margin-bottom: 15px; 
}
.priceperc {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	border-radius: 0 3px 3px 0; 
	padding: 7px; 
	height: 16px; 
	color: #ffffff; 
	background-color: #02b2ff
}
.priceparttxt {
	width: 170px; 
	border: 1px solid #e6433a; 
	border-radius: 3px 0 0 3px; 
	padding: 7px; 
	color: #e6433a; 
	margin-bottom: 15px; 
}
.pricepart {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	border-radius: 0 3px 3px 0; 
	padding: 7px; 
	height: 16px; 
	color: #ffffff; 
	background-color: #e6433a;
}


/*************************************/
/*статус пополнения баланса*/

.status i {
    font-size: 16px;
}

.statistic .status i {
    font-size: 14px;
}

.referal-link {
    padding: 15px;
    font-size: 16px;
    background-color: #eee;
}


/****partner-list***/
.partner-list {
    margin-top: 20px;
}

/****************Comments****************/
.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #f0f0f0;
    overflow: hidden;
}

    .comment.good-comment {
        background-color: #D1F9C6;
    }

    .comment.bad-comment {
        background-color: #FFEAEA;
    }

    .comment.admin-comment {
        margin-left: 50px;
    }

    .comment .comment-text {
        color: #666;
    }

    .comment .admin-bt {
        margin-right: 20px;
    }

        .comment .admin-bt i {
            font-size: 14px;
            margin-right: 5px;
        }

    .add-comment-form .comment-bt {

    }

        .add-comment-form .comment-bt .radio-bt label {
            margin-right: 10px;
        }